  {
    "manifest_version": 2,
    "name": "Gitd Download Manager - DEVELOPMENT BUILD",
    "short_name": "Gitd",
    "description": "THIS EXTENSION IS FOR BETA TESTING",
    "version": "BUILD_NUMBER",
    "homepage_url": "https://github.com/git-download-manager/gitd-extension",
    "permissions": [
        "API_URL/*",
        "webNavigation",
        "tabs"
    ],
    "icons": { 
        "16": "icons/16.png",   
        "32": "icons/32.png",
        "128": "icons/128.png" 
    },
    "author": "Uretgec",
    "content_scripts": [
        {
            "matches": ["*://github.com/*", "*://gitlab.com/*", "*://bitbucket.org/*", "*://gitea.com/*"],
            "css": ["gitdStyles.css"],
            "run_at": "document_end"
        },
        {
            "matches": ["*://github.com/*", "*://gitlab.com/*", "*://bitbucket.org/*", "*://gitea.com/*"],
            "js": ["contentScript.js"],
            "run_at": "document_end"
        }
    ],
    "background": {
        "scripts": ["background.js"],
        "persistent": true
    },
    "web_accessible_resources": ["lib/alpine-scp.min.js","lib/fflate.min.js","lib/gitdmanager.js"]
}